In [2]:
import pandas as pd
import requests

In [3]:
df = pd.read_excel("base_dados_usuarios.xlsx")

In [4]:
df.head()

,ID do Usuário,Nome,Email,Data de Registro,Tipo de Acesso,Último Login,Status
0,1,Usuario_1,usuario_1@exemplo.com,2024-03-12 02:06:03.760,Convidado,2024-04-14 02:06:03.760,Ativo
1,2,Usuario_2,usuario_2@exemplo.com,2023-04-01 02:06:03.760,Convidado,2024-05-05 02:06:03.760,Inativo
2,3,Usuario_3,usuario_3@exemplo.com,2022-10-04 02:06:03.760,Convidado,2024-02-06 02:06:03.760,Banido
3,4,Usuario_4,usuario_4@exemplo.com,2023-08-14 02:06:03.760,Convidado,2024-05-28 02:06:03.760,Inativo
4,5,Usuario_5,usuario_5@exemplo.com,2022-09-24 02:06:03.760,Usuário,2022-11-29 02:06:03.760,Ativo

In [6]:
import pandas as pd
import requests

url = "https://jsonplaceholder.typicode.com/posts"
resposta = requests.get(url)
if resposta.status_code != 200:
    print("Erro com a conexão a api")
informacoes = resposta.json()
#print(informacoes) 

df = pd.DataFrame(informacoes)
df.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...